In [2]:
import pandas as pd
import os
import numpy as np

In [31]:
PATH = "./wandb_time_with_cifar100.csv"
dataset = pd.read_csv(PATH)

In [37]:
ds = dataset[(dataset["method"]=="BP")|(dataset["method"]=="CCL")]
# ds = ds[ds.seed!=9]
# ds = ds[ds["5_epoch_time2"]<100]
# pd.pivot_table(ds, values='5_epoch_time2', index=['method'], columns=['dataset'], aggfunc="mean")
temp = pd.pivot_table(ds, values='5_epoch_time2', index=["seed"], columns=['dataset', 'method'])
for row_idx in range(9):
    try:
        temp.iloc[row_idx,0:2]  = temp.iloc[row_idx,0:2] /temp.iloc[row_idx,0]
    except:
        pass
    temp.iloc[row_idx,2:4] = temp.iloc[row_idx,2:4]/temp.iloc[row_idx,2]
    temp.iloc[row_idx,4:6] = temp.iloc[row_idx,4:6]/temp.iloc[row_idx,4]

In [38]:
temp

dataset CIFAR10           CIFAR100           MNIST
method       BP       CCL       BP       CCL    BP       CCL
seed
1           1.0  0.831852      1.0  1.015028   1.0  1.156541
2           1.0  1.030165      1.0  1.060690   1.0  1.179504
3           1.0  1.027427      1.0  0.868518   1.0  1.200909
4           1.0  1.039798      1.0  1.561933   1.0  1.110123
5           1.0  2.162476      1.0  0.974677   1.0  1.106063
6           1.0  1.034256      1.0  1.032812   1.0  1.084368
7           1.0  0.798587      1.0  1.037646   1.0  1.172100
9           NaN       NaN      1.0  1.036135   1.0  1.205099
10          1.0  1.034116      1.0  1.048131   1.0  1.062530

In [35]:
row_idx

9

In [40]:
temp.mean(), temp.std()

(dataset   method
 CIFAR10   BP        1.000000
           CCL       1.119835
 CIFAR100  BP        1.000000
           CCL       1.070619
 MNIST     BP        1.000000
           CCL       1.141915
 dtype: float64,
 dataset   method
 CIFAR10   BP        0.000000
           CCL       0.432747
 CIFAR100  BP        0.000000
           CCL       0.193274
 MNIST     BP        0.000000
           CCL       0.052345
 dtype: float64)

In [18]:
temp

dataset    CIFAR10              CIFAR100                 MNIST
method          BP        CCL         BP        CCL         BP        CCL
seed
1         1.000000   0.831852   1.000000   1.015028  48.166885  55.706980
2         1.000000   1.030165   1.000000   1.060690  40.054269  47.244158
3         1.000000   1.027427   1.000000   0.868518  43.392862  52.110859
4         1.000000   1.039798   1.000000   1.561933  45.576017  50.594979
5         1.000000   2.162476   1.000000   0.974677  48.610851  53.766673
6         1.000000   1.034256   1.000000   1.032812  32.113290  34.822629
7         1.000000   0.798587   1.000000   1.037646  54.036436  63.336090
9              NaN        NaN   1.000000   1.036135  48.781445  58.786448
10       49.580132  51.271603  48.678442  51.021404  32.142967  34.152869

In [41]:
ds = dataset[(dataset["method"]!="BP")&(dataset["method"]!="CCL")]
pd.pivot_table(ds, values='5_epoch_time', index=["seed", ], columns=['dataset', 'algorithm', 'loss_feedback'], aggfunc="mean")

dataset          CIFAR10                                              \
algorithm             BP        DTP                         FWDTP-BN
loss_feedback        DTP        DRL        DTP      L-DRL        DTP
seed
1              12.998519  56.935913  39.456377  60.014969  23.437181
2              10.244096  44.461656  25.480219  45.687920  18.594133
3               9.385855  50.103368  30.541525  53.256182  23.185039
4               9.623351  48.688228  31.293105  55.639596  24.041301
5               9.303464  48.884413  30.148101  55.739602  23.312426
6               9.041895  49.748718  30.157125  55.408682  24.071522
7              14.621167  52.790740  33.288759  50.586141  19.952740
8               7.523870  30.894871  19.987203  31.442441  14.056455
9              12.356632  52.786760  33.456097  50.488974  18.204458
10             14.326676  52.987588  33.968794  50.620277  20.677230

dataset         CIFAR100                                              \
algorithm             BP        DTP                         FWDTP-BN
loss_feedback        DTP        DRL        DTP      L-DRL        DTP
seed
1              12.614819  60.211736  40.858688  56.793644  23.233889
2              10.227674  44.794146  25.724504  45.225323  18.899347
3               9.955432  49.600743  30.605222  53.624483  23.583365
4              10.071310  49.391792  30.918331  55.657103  23.592116
5               8.952162  48.988631  29.890997  53.851821  23.723322
6               9.631334  50.708527  30.451793  55.654744  23.821402
7              16.207281  53.559030  33.306046  50.880729  19.789181
8               7.526565  32.436272  19.048790  33.194509  14.244643
9              12.309368  53.670733  33.578500  50.891785  18.290812
10             12.164202  53.728337  33.380944  50.931723  19.433144

dataset            MNIST
algorithm             BP         DTP                          FWDTP-BN
loss_feedback        DTP         DRL        DTP       L-DRL        DTP
seed
1              12.366811  134.688567  61.174079  104.013013  33.652977
2              11.198240  107.865013  46.735939   83.870224  32.931450
3              10.261304  126.500849  58.432355  102.203177  38.864829
4              10.391775  128.142992  58.088364  103.502676  38.846305
5               9.909102  127.448870  58.030067  103.599296  39.067392
6              10.404645  126.788854  57.885227  102.641825  38.805621
7              12.318709   77.301543  35.022973   62.106966  26.780145
8               9.036013   75.214544  35.913818   63.008506  21.628674
9              12.350089   79.847032  36.455108   62.078690  25.308374
10             14.899369   75.162406  36.342009   62.945681  25.658053

In [42]:
temp = pd.pivot_table(ds, values='5_epoch_time', index=["seed"], columns=['dataset', 'algorithm', 'loss_feedback'], aggfunc="mean")
for row_idx in range(10):
    temp.iloc[row_idx,0:5]  = temp.iloc[row_idx,0:5] /temp.iloc[row_idx,0]
    temp.iloc[row_idx,5:10] = temp.iloc[row_idx,5:10]/temp.iloc[row_idx,5]
    temp.iloc[row_idx,10:15] = temp.iloc[row_idx,10:15]/temp.iloc[row_idx,10]

In [43]:
temp

dataset       CIFAR10                                         CIFAR100  \
algorithm          BP       DTP                      FWDTP-BN       BP
loss_feedback     DTP       DRL       DTP     L-DRL       DTP      DTP
seed
1                 1.0  4.380185  3.035452  4.617062  1.803065      1.0
2                 1.0  4.340223  2.487308  4.459927  1.815107      1.0
3                 1.0  5.338178  3.253995  5.674090  2.470211      1.0
4                 1.0  5.059384  3.251789  5.781728  2.498226      1.0
5                 1.0  5.254432  3.240524  5.991274  2.505779      1.0
6                 1.0  5.502023  3.335266  6.127995  2.662221      1.0
7                 1.0  3.610570  2.276751  3.459788  1.364648      1.0
8                 1.0  4.106247  2.656505  4.179025  1.868248      1.0
9                 1.0  4.271937  2.707542  4.085982  1.473254      1.0
10                1.0  3.698526  2.371017  3.533288  1.443268      1.0

dataset                                               MNIST             \
algorithm           DTP                      FWDTP-BN    BP        DTP
loss_feedback       DRL       DTP     L-DRL       DTP   DTP        DRL
seed
1              4.773096  3.238944  4.502137  1.841793   1.0  10.891131
2              4.379700  2.515186  4.421858  1.847864   1.0   9.632318
3              4.982279  3.074224  5.386455  2.368894   1.0  12.327950
4              4.904207  3.069941  5.526302  2.342507   1.0  12.331194
5              5.472268  3.338970  6.015510  2.650010   1.0  12.861798
6              5.264954  3.161742  5.778508  2.473323   1.0  12.185793
7              3.304628  2.055005  3.139375  1.221006   1.0   6.275133
8              4.309572  2.530874  4.410313  1.892582   1.0   8.323864
9              4.360153  2.727882  4.134395  1.485926   1.0   6.465300
10             4.416923  2.744195  4.187017  1.597568   1.0   5.044671

dataset
algorithm                           FWDTP-BN
loss_feedback       DTP      L-DRL       DTP
seed
1              4.946633   8.410657  2.721233
2              4.173507   7.489590  2.940770
3              5.694437   9.960057  3.787513
4              5.589841   9.960058  3.738178
5              5.856239  10.454963  3.942576
6              5.563402   9.865000  3.729644
7              2.843072   5.041678  2.173941
8              3.974520   6.973043  2.393608
9              2.951809   5.026579  2.049246
10             2.439164   4.224721  1.722090

In [44]:
temp.mean(), temp.std()

(dataset   algorithm  loss_feedback
 CIFAR10   BP         DTP              1.000000
           DTP        DRL              4.556171
                      DTP              2.861615
                      L-DRL            4.791016
           FWDTP-BN   DTP              1.990403
 CIFAR100  BP         DTP              1.000000
           DTP        DRL              4.616778
                      DTP              2.845696
                      L-DRL            4.750187
           FWDTP-BN   DTP              1.972147
 MNIST     BP         DTP              1.000000
           DTP        DRL              9.633915
                      DTP              4.403263
                      L-DRL            7.740635
           FWDTP-BN   DTP              2.919880
 dtype: float64,
 dataset   algorithm  loss_feedback
 CIFAR10   BP         DTP              0.000000
           DTP        DRL              0.686173
                      DTP              0.407295
                      L-DRL            1.019531
           FWDTP-BN   DTP              0.499351
 CIFAR100  BP         DTP              0.000000
           DTP        DRL              0.611987
                      DTP              0.402504
                      L-DRL            0.897007
           FWDTP-BN   DTP              0.469628
 MNIST     BP         DTP              0.000000
           DTP        DRL              2.927722
                      DTP              1.310751
                      L-DRL            2.353377
           FWDTP-BN   DTP              0.829325
 dtype: float64)

In [102]:
temp.iloc[0,6:10]

dataset  algorithm  loss_feedback
MNIST    DTP        DRL              110.502529
                    DTP               60.291118
                    L-DRL             93.761953
         FWDTP-BN   DTP               32.929173
Name: 1, dtype: float64

In [4]:
# MNIST

ds = dataset[dataset["dataset"] == "MNIST"]
del ds["Runtime"]
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.0002) & (ds.stepsize == 0.04))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.0002) & (ds.stepsize == 0.04))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                    MNIST
algorithm loss_feedback
BP        DTP            0.98065
DTP       DRL            0.93250
          DTP            0.97308
          L-DRL          0.93284
DTP-BN    DTP            0.97110
FWDTP     DTP            0.89836
FWDTP-BN  DTP            0.97204

In [5]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                     MNIST
algorithm loss_feedback
BP        DTP            0.004036
DTP       DRL            0.000914
          DTP            0.000626
          L-DRL          0.004496
DTP-BN    DTP            0.001490
FWDTP     DTP            0.001146
FWDTP-BN  DTP            0.001424

In [11]:
# MNIST
ds = dataset[dataset["dataset"] == "FashionMNIST"]
del ds["Runtime"]
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.1))]
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.002) & (ds.stepsize == 0.008))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.001) & (ds.stepsize == 0.02))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  FashionMNIST
algorithm loss_feedback
BP        DTP                 0.89238
DTP       DRL                 0.83342
          DTP                 0.88272
          L-DRL               0.83514
FWDTP-BN  DTP                 0.88278

In [12]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                  FashionMNIST
algorithm loss_feedback
BP        DTP                0.007128
DTP       DRL                0.001785
          DTP                0.003154
          L-DRL              0.002004
FWDTP-BN  DTP                0.002333

In [9]:
ds = dataset[dataset["dataset"] == "CIFAR10"]
del ds["Runtime"]
ds["algorithm"].unique()
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.02))]
# pd.pivot_table(ds[ds.algorithm == "BP"], values='test accuracy', index=['learning_rate'], columns=['dataset'], aggfunc="mean")
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.004) & (ds.stepsize == 0.008))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 0.2) & (ds.learning_rate_backward == 0.0004) & (ds.stepsize == 0.04))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  CIFAR10
algorithm loss_feedback
BP        DTP            0.53896
DTP       DRL            0.45598
          DTP            0.48800
          L-DRL          0.45420
DTP-BN    DTP            0.45256
FWDTP     DTP            0.35800
FWDTP-BN  DTP            0.50774

In [76]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                   CIFAR10
algorithm loss_feedback
BP        DTP            0.011425
DTP       DRL            0.004532
          DTP            0.006700
          L-DRL          0.004201
DTP-BN    DTP            0.005097
FWDTP     DTP            0.001032
FWDTP-BN  DTP            0.000918

In [82]:
ds = dataset[dataset["dataset"] == "CIFAR100"]
del ds["Runtime"]
ds["algorithm"].unique()
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.004))]
pd.pivot_table(ds[ds.algorithm == "BP"], values='test accuracy', index=['learning_rate'], columns=['dataset'], aggfunc="mean")
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 0.8) & (ds.learning_rate_backward == 0.002) & (ds.stepsize == 0.02))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.0001) & (ds.stepsize == 0.008))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  CIFAR100
algorithm loss_feedback
BP        DTP            0.237025
DTP       DRL            0.204780
          DTP            0.229960
          L-DRL          0.206260
DTP-BN    DTP            0.181200
FWDTP     DTP            0.153720
FWDTP-BN  DTP            0.230440

In [83]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                  CIFAR100
algorithm loss_feedback
BP        DTP            0.002213
DTP       DRL            0.001807
          DTP            0.000856
          L-DRL          0.001638
DTP-BN    DTP            0.002082
FWDTP     DTP            0.001192
FWDTP-BN  DTP            0.001869

In [80]:
ds[(ds.algorithm=="BP") & (ds.learning_rate==0.004)]

,Name,dataset,algorithm,loss_feedback,test accuracy,State,learning_rate,learning_rate_backward,train accuracy,seed,activation_function,epochs_backward,stepsize
11,CIFAR100_BP,CIFAR100,BP,DTP,0.2361,finished,0.004,0.001,0.34102,5,tanh,5,0.01
41,CIFAR100_BP,CIFAR100,BP,DTP,0.2400,finished,0.004,0.001,0.34256,2,tanh,5,0.01
168,CIFAR100_BP,CIFAR100,BP,DTP,0.2372,finished,0.004,0.001,0.34252,3,tanh,5,0.01
393,CIFAR100_BP,CIFAR100,BP,DTP,0.2348,finished,0.004,0.001,0.33832,4,tanh,5,0.01

# CCL

In [23]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "MNIST"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 2]
ds = ds[ds.lr_F == 2]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated()]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.9815400000000001 0.0011107554986484476

In [24]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "FashionMNIST"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 2]
ds = ds[ds.lr_F == 2]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated()]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.879975 0.004778149671757301

In [40]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "CIFAR10"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 0.5]
ds = ds[ds.lr_F == 0.5]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated(subset=["dataset","act_B","grad_clip_B","seed","lr_B","lr_F"])]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.5212999999999999 0.0021319005605327707

In [47]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "CIFAR100"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 4]
ds = ds[ds.lr_F == 4]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated(subset=["dataset","act_B","grad_clip_B","seed","lr_B","lr_F"])]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.21653333333333333 0.0014571661996262998